body{
    background:url(fondo.JPEG); 
}
/* Elementos de cabecera */
.cabecera{
    border-radius:5px;
    background: black;
    height:62;
    margin:30;
    padding:5px;
}
.caja1{
    display: inline-block; /* para ponerlas en la misma linea*/
    border-radius:5px;
    background:rgb(0, 0, 0);
    height: 50;
    width: 50;
    margin:5px;
    
}
.caja{
    display: inline-block; /* para ponerlas en la misma linea*/
    border-radius:5px;
    background:rgba(0, 0, 0, 0.795);
    height: 50;
    width: 50;
    margin:5px;
    transition:1s;
    
}
.cab_text{
    margin:5px;
    height:50;
    margin-left:10px;
    margin-bottom:1px;
    display: inline-block;
}
.texto_cabecera{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    position:relative;
    top:-17px;
}
.imgCab{
    display:inline-block;
    position:absolute;
    top:40px;
    width:50;
    transition:1s;
  
}
.imgCabb{
    display:inline-block;
    position: absolute;
    top:40px;
    left:112.3px;
    width:50;
    transition:1s;
  
}
/* Elementos del feed */
.box{
    background:rgba(0, 0, 0, 0.815);
    height:80%;
    margin:32px;
    border-radius:5px;
    padding:15px;
}
.feed{
    background:rgba(58, 58, 58, 0.644);
    height:100%;
}

.txt{
    padding:5px;
    background:rgba(255, 255, 255, 0.603);
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    width:40%;
    position: relative;
    left:10px;
    top: 10px;
    transition:1s;
    border-radius:2px;
    
}
.ln{
    display:inline;
}


/*animaciones*/
.caja:hover{
    transform: scale(1.05);
}
.txt:hover{
    transform: scale(1.05);
}
div{
    transition:1s;

}



